.titulo1 {
  color: rgb(33, 33, 160);
  text-decoration: none;
  font-size: 50px;
  font-weight: bolder;

}

.barra {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fc0505;
}

.mover {
  animation: mover-izquierda-derecha 4s infinite;
}

@keyframes mover-izquierda-derecha {

  from {
    transform: translatex(-100px);
  }

  to {
    transform: translatex(5px);
  }
}


body {
  margin: 0 auto;
  max-width: 98%;
  font-family: 'Lato';
  color: #333;
}

.icon-cart {
  width: 40px;
  height: 40px;
  stroke: #1304dc;
}

.icon-cart:hover {
  cursor: pointer;
}

img {
  max-width: 60%;
  
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

.container-icon {
  position: relative;
}

.count-products {
  position: absolute;
  top: 55%;
  right: 0;

  background-color: #1304dc;
  color: #fff;
  width: 25px;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#contador-productos {
  font-size: 15px;
}

.container-cart-products {
  position: absolute;
  top: 50px;
  right: 0;

  background-color: #fff;
  width: 400px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
  border-radius: 10px;

}

.cart-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product {
  display: flex;
  justify-content: space-between;
  flex: 0.8;
}

.titulo-producto-carrito {
  font-size: 20px;
}

.precio-producto-carrito {
  font-weight: 700;
  font-size: 20px;
  margin-left: 10px;
}

.cantidad-producto-carrito {
  font-weight: 400;
  font-size: 20px;
}

.icon-close {
  width: 25px;
  height: 25px;
}

.icon-close:hover {
  stroke: red;
  cursor: pointer;
}

.cart-total {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
}

.cart-total h3 {
  font-size: 20px;
  font-weight: 700;
}

.total-pagar {
  font-size: 20px;
  font-weight: 900;
}

.hidden-cart {
  display: none;
}

.container-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  
  
  
}

.item {
  border-radius: 10px;
  align-items: center; 
}

.item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: all .5s;
  align-items: center; 
}

.item figure {
  overflow: hidden;
}

.item:hover img {
  transform: scale(1.2);
}

.info-product {
  padding: 15px 30px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price {
  font-size: 18px;
  font-weight: 900;
}

.info-product button {
  border: none;
  background: none;
  background-color: #000;
  color: #fff;
  padding: 15px 10px;
  cursor: pointer;
}

footer {

  background-color: rgb(208, 208, 208);
  display: flex;
  justify-content: center;
}